<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bank Service</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(AddUser)}" />

    <h2>ОООЗАОПАО Банк</h2>

    <h4>Фильтр</h4>

    <form th:accept="@{'/add'}" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Имя</span>
            <input type="text" class="form-control" name="name">

            <span class="input-group-text">Фамилия</span>
            <input type="text" class="form-control" name="surname">

            <span class="input-group-text">Возраст</span>
            <input type="text" class="form-control" name="age">

            <button class="btn btn-primary" type="submit">Применить</button>
        </div>
    </form>

</div>
</body>
</html>