<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bank Service</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation('')}"/>

    <h2>ОООЗАОПАО Банк</h2>

    <h4>Клиент</h4>
    <div>
        <div>
            <text>Имя:</text>
            <text th:text="${client.name}"></text>
        </div>
        <div>
            <text>Фамилия:</text>
            <text th:text="${client.surname}"></text>
        </div>
    </div>

    <h4>Счета Клиента</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Номер счета</td>
            <td>Баланс</td>
            <td>Банк</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="b : ${client.bankAccounts}">
            <td th:text="${b.number}"></td>
            <td th:text="${b.balance} - ${b.holdBalance}"></td>
            <td th:text="${b.bank.name}"></td>
            <td><a th:href="@{'/bankAccount?bankAccountNumber=' + ${b.number}}">Перевод</a><br>
                <a th:href="@{'/bankAccount/delete?bankAccountNumber=' + ${b.number}}">Удалить</a></td>
            </form></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/bankAccount/add?clientId=' + ${client.id}}">Добавить счет</a>
    </div>
</div>
</body>
</html>